<%= form_with model: [:admin, @service], local: true do |form| %>
  <% if @service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service.errors.count, "error") %> prohibited this service from being saved:</h2>
      <ul>
      <% @service.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :price %>
    <%= form.number_field :price, step: 0.01, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label 'Duration in minutes' %>
    <%= form.number_field :duration, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :start_time %>
    <%= form.time_select :start_time %>
  </div>

  <div class="form-group">
    <%= form.label :end_time %>
    <%= form.time_select :end_time %>
  </div>

  <div class="form-group">
    <%= form.label :filial_id %>
    <%= form.collection_select :filial_id, Filial.all, :id, :name, { prompt: "Select a Filial" }, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :images %>
    <%= form.file_field :images, multiple: true %>
  </div>

 <div class="form-group">
    <%= form.label :user_id %>
    <%= form.collection_select :user_id, User.where(role: 'service_provider'), :id, :email, { prompt: "Select a Service Provider" }, class: "form-control" %>
  </div>

  <%= form.submit 'Save Service', class: "btn btn-primary" %>
<% end %>
