<div class="bg-creme rounded-md flex flex-col w-full max-w-9/10 p-2 gap-6">
    <p class="text-center font-alice text-verde-escuro">Checar Disponibilidade</p>
    <%= form_with url: cabanas_path, method: :get, local: true do %>
        <div class="custom-dropdown flex flex-col w-full">
            <%= hidden_field_tag :filial_id, params[:filial_id], id: 'selected_filial_id', class: 'w-full' %>
                <div class="flex items-center gap-6 px-2 text-lg">
                    <i class="fa-regular fa-map text-verde-escuro"></i>
                    <div id="dropdown_display" class="dropdown-display">
                        <p class="font-dm text-terracota">Selecione uma Filial</p>
                    </div>
                </div>
                <div id="dropdown_list" class="dropdown-list">
                    <% Filial.all.each do |filial| %>
                        <div class="dropdown-item" data-id="<%= filial.id %>">
                            <p>
                                <%= filial.name %>
                            </p>
                            <p>
                                <%= filial.address %>
                            </p>
                        </div>
                        <% end %>
                </div>
            </div>
            <hr class="w-full my-4"> 
            <div class="font-dm bg-verde-escuro rounded-3xl flex justify-center items-center gap-4 p-3">
                <%= submit_tag 'Pesquisar' , class: 'uppercase font-light text-creme' %>
            </div>
        <% end %>
</div>

<style>
    .custom-dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-display {
        cursor: pointer;
    }

    .dropdown-list {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        border: 1px solid #ccc;
        max-height: 200px;
        overflow-y: auto;
        z-index: 1000;


        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .dropdown-item {
        padding: 10px;
        cursor: pointer;
    }

    .dropdown-item:hover {
        background-color: #f1f1f1;
    }

    .dropdown-list::-webkit-scrollbar {
        display: none;
    }
</style>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const dropdownDisplay = document.getElementById("dropdown_display");
        const dropdownList = document.getElementById("dropdown_list");
        const selectedFilialId = document.getElementById("selected_filial_id");

        dropdownDisplay.addEventListener("click", function () {
            dropdownList.style.display = dropdownList.style.display === "block" ? "none" : "block";
        });

        document.querySelectorAll(".dropdown-item").forEach(function (item) {
            item.addEventListener("click", function () {
                const filialId = this.getAttribute("data-id");
                const filialName = this.querySelector("h2").innerText;
                dropdownDisplay.innerHTML = filialName;
                selectedFilialId.value = filialId;
                dropdownList.style.display = "none";
            });
        });


        document.addEventListener("click", function (e) {
            if (!dropdownDisplay.contains(e.target) && !dropdownList.contains(e.target)) {
                dropdownList.style.display = "none";
            }
        });
    });
</script>