<%= form_with(url: crete_mailer_entry_path, model: @funil_mailer, method: :post, local: true) do |form| %>
  <div>
    <%= form.label :fullname, "Full Name" %>
    <%= form.text_field :fullname %>
  </div>

  <div>
    <%= form.label :number, "Whatsapp" %>
    <%= form.telephone_field :number %>
  </div>

  <div>
    <%= form.label :email, "Email" %>
    <%= form.email_field :email %>
  </div>

  <%= form.submit "Submit" %>
<% end %>
