<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Controle de Estoque</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if user_signed_in? && current_user.admin? %>
          <li class="nav-item">
            <%= link_to 'Serra da Mantiqueira', filial_items_path(Filial.find_by(name: 'Serra da Mantiqueira')), class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Fattoria di Braúna', filial_items_path(Filial.find_by(name: 'Fattoria di Brauna')), class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Mercadinho MG', filial_items_path(Filial.find_by(name: 'Mercadinho MG')), class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Mercadinho SP', filial_items_path(Filial.find_by(name: 'Mercadinho SP')), class: 'nav-link' %>
          </li>
        <% end %>
      </ul>
      <ul class="navbar-nav ms-auto">
        <% if user_signed_in? %>
          <% if current_user.admin? %>
            <li class="nav-item">
              <%= link_to 'Admin Dashboard', root_path, class: 'nav-link' %>
            </li>
          <% end %>
          <% if @filial %>
            <li class="nav-item">
              <%= link_to 'Itens com Estoque Crítico', critical_stock_filial_items_path(@filial), class: 'btn btn-warning' %>
            </li>
          <% end %>
          <li class="nav-item">
            <%= link_to 'Sign Out', destroy_user_session_path, data: { turbo_method: :delete }, class: 'nav-link' %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Sign In', new_user_session_path, class: 'nav-link' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
