<div>

    <%= render 'shared/nav' %>

        <div class=" h-screen">
            <div class="flex flex-col gap-2">
                <div class="flex flex-col gap-4 pt-12">
                    <div class="swiper-container swiper-exp h-120">
                        <div class="swiper-wrapper relative"
                            style="background-image: url('<%= asset_path('foto_exp.png') %>'); background-size: cover; background-position: center;">
                        </div>
                    </div>
                </div>
                <div class="flex flex-col px-6 py-6">
                    <div class="flex flex-col gap-4">
                        <div class="">
                            <p class="uppercase font-dm text-gray-500 text-sm">Sobre Nós</p>
                        </div>
                        <div class="flex flex-col gap-8">
                            <p class="font-alice text-preto-fill font-light text-4xl">Lorem ipsum dolor sit amet,
                                consectetur adipisicing elit.</p>
                            <p class="font-dm text-gray-500 text-base">Lorem ipsum dolor sit amet consectetur
                                adipisicing
                                elit. Recusandae nulla voluptas sit ullam aliquid facere quas. Obcaecati commodi
                                laudantium
                                nobis fugiat repellat inventore nihil incidunt ipsam minima, expedita porro atque.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <%= render 'shared/values' %>
        <div class="pb-20">
            <div class="flex flex-col gap-2">
                <div class="flex flex-col gap-4 pt-12">
                    <div class="swiper-container swiper-exp h-120">
                        <div class="swiper-wrapper relative"
                            style="background-image: url('<%= asset_path('2.png') %>'); background-size: cover; background-position: center;">
                        </div>
                    </div>
                </div>
                <div class="flex flex-col px-6 py-6">
                    <div class="flex flex-col gap-8">
                        <div class="">
                            <p class="uppercase font-alice text-gray-500 text-xl">A História da Logo</p>
                        </div>
                        <div class="flex flex-col gap-8">
                            <p class="font-dm text-gray-500 text-base">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis illum in dolor aspernatur quaerat perferendis molestiae soluta nostrum eum consequatur. In exercitationem vitae, alias necessitatibus, soluta voluptas eos, libero laboriosam cum vel qui nesciunt atque cumque perferendis. Neque, et ipsa culpa incidunt sunt temporibus odit amet ipsum eum aut suscipit!</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
            <%= render 'shared/funilform' %>
                <%= render 'shared/footer' %>
                    <%= render 'shared/wppButton' %>

</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var swiper = new Swiper('.swiper-exp', {
            loop: true,
            autoplay: {
                delay: 3000,
            },
            speed: 2000,
            pagination: false,
            clickable: false,
            allowTouchMove: false,
            disableOnInteraction: true
        });
    });
</script>