<head>

</head>
<div>

        <div class="px-4 py-16 flex flex-col gap-8">
            <p class="text-3xl text-center font-alice">Experiências de Viagem</p>
            <p class="text-center text-sm font-dm">Desde o pedido de casamento até celebrações em família, se é importante para você, é uma prioridade para nós. Com destinos únicos e a atenção intuitiva e empática dos nossos anfitriões, cada detalhe da sua estadia no Villaggio é pensado para que você viva uma experiência completa. Deixe que o Villaggio Girotto responda à pergunta: <span class="font-bold">"Para onde vamos para o nossa próxima viagem?"</span></p>
        </div>
        <div class="px-8 flex flex-col gap-6">
            <div class="relative h-96"
                style="background-image: url('<%= asset_path('foto_exp.png') %>'); background-size: cover; background-position: center;">
            </div>
            <div>
                <div class="flex flex-col gap-4 mb-12 text-gray-500">
                    <p class="font-alice text-lg">Celebrando a Culinaria Local</p>
                    <p class="font-dm text-sm">Um menu sustentável que valoriza as tradições locais, trazendo sabores únicos. Com opções variadas, incluindo pratos vegetarianos, cada refeição conta uma história.</p>
                </div>
            </div>
        </div>
        <div class="px-8 flex flex-col gap-6">
            <div class="relative h-96"
                style="background-image: url('<%= asset_path('foto_comunidade.png') %>'); background-size: cover; background-position: center;">
            </div>
            <div>
                <div class="flex flex-col gap-4 mb-12 text-gray-500">
                    <p class="font-alice text-lg">Se Conectando com a Simplicidade</p>
                    <p class="font-dm text-sm">Sob as árvores, no pasto ou no deck da sua acomodação, não há um lugar perfeito, mas há momentos inesquecíveis. Crie memórias ao pôr do sol.</p>
                </div>
            </div>
        </div>
        <div class="px-8 flex flex-col gap-6">
            <div class="relative h-96"
                style="background-image: url('<%= asset_path('3.png') %>'); background-size: cover; background-position: center;">
            </div>
            <div>
                <div class="flex flex-col gap-4 mb-12 text-gray-500">
                    <p class="font-alice text-lg">Tradição e Animais</p>
                    <p class="font-dm text-sm">Uma experiência meticulosamente criada para uma aventura inesquecível...</p>
                </div>
            </div>
        </div>
        <div class="px-8 flex flex-col gap-6">
            <div class="relative h-96"
                style="background-image: url('<%= asset_path('3.png') %>'); background-size: cover; background-position: center;">
            </div>
            <div>
                <div class="flex flex-col gap-4 mb-12 text-gray-500">
                    <p class="font-alice text-lg">Desperte uma Aventura</p>
                    <p class="font-dm text-sm">Desde trilhas pela região até a exploração de cachoeiras e pontos turísticos, o Villaggio está sempre localizado em pontos estratégicos que permitem uma imersão na natureza e na cultura local.</p>
                </div>
            </div>
        </div>
        <div class="px-8 flex flex-col gap-6">
            <div class="relative h-96"
                style="background-image: url('<%= asset_path('3.png') %>'); background-size: cover; background-position: center;">
            </div>
            <div>
                <div class="flex flex-col gap-4 mb-12 text-gray-500">
                    <p class="font-alice text-lg">Programas de Massagem</p>
                    <p class="font-dm text-sm">Um refúgio de relaxamento para os sentidos, nosso espaço convida você a vivenciar momentos de pura tranquilidade, onde massagens revigoram tanto o corpo quanto a mente.</p>
                </div>
            </div>
        </div>
        <div class="px-8 flex flex-col gap-6">
            <div class="relative h-96"
                style="background-image: url('<%= asset_path('3.png') %>'); background-size: cover; background-position: center;">
            </div>
            <div>
                <div class="flex flex-col gap-4 mb-12 text-gray-500">
                    <p class="font-alice text-lg">Aventuras de Bicicleta</p>
                    <p class="font-dm text-sm">Uma jornada sobre duas rodas, nosso refúgio convida você a desbravar trilhas incríveis, onde cada pedalada revela novas paisagens e aventuras inesquecíveis.</p>
                </div>
            </div>
        </div>
        <div class="px-8 flex flex-col gap-6">
            <div class="relative h-96"
                style="background-image: url('<%= asset_path('3.png') %>'); background-size: cover; background-position: center;">
            </div>
            <div>
                <div class="flex flex-col gap-4 mb-12 text-gray-500">
                    <p class="font-alice text-lg">Família e Crianças</p>
                    <p class="font-dm text-sm">Uma escapada de outro mundo para os "pequeninos", o Villaggio convida as famílias a aproveitarem um tempo de qualidade com atividades guiadas.</p>
                </div>
            </div>
        </div>
        <div class="px-8 flex flex-col gap-6">
            <div class="relative h-96"
                style="background-image: url('<%= asset_path('3.png') %>'); background-size: cover; background-position: center;">
            </div>
            <div>
                <div class="flex flex-col gap-4 mb-12 text-gray-500">
                    <p class="font-alice text-lg">Programas de Bem-Estar</p>
                    <p class="font-dm text-sm">Com diversas atividades, sua estadia se torna ainda mais completa, trazendo aquela sensação revigorante de energia renovada.</p>
                </div>
            </div>
        </div>
        <div class="px-8 flex flex-col gap-6">
            <div class="relative h-96"
                style="background-image: url('<%= asset_path('3.png') %>'); background-size: cover; background-position: center;">
            </div>
            <div>
                <div class="flex flex-col gap-4 mb-12 text-gray-500">
                    <p class="font-alice text-lg">Acima das Nuvens</p>
                    <p class="font-dm text-sm">Passe um dia envolvido pela beleza natural, em uma viagem especial que une a emoção da aventura ao puro relaxamento.</p>
                </div>
            </div>
        </div>
        <div class="px-8 flex flex-col gap-6">
            <div class="relative h-96"
                style="background-image: url('<%= asset_path('3.png') %>'); background-size: cover; background-position: center;">
            </div>
            <div>
                <div class="flex flex-col gap-4 mb-12 text-gray-500">
                    <p class="font-alice text-lg">Guia de Experiências Locais</p>
                    <p class="font-dm text-sm">Um guia elaborado pelos villagers, onde você poderá criar momentos únicos com atividades que unem criatividade e conexão com a terra.</p>
                </div>
            </div>
        </div>
        <div class="px-8 flex flex-col gap-6">
            <div class="relative h-96"
                style="background-image: url('<%= asset_path('3.png') %>'); background-size: cover; background-position: center;">
            </div>
            <div>
                <div class="flex flex-col gap-4 mb-12 text-gray-500">
                    <p class="font-alice text-lg">Mercadinho Local</p>
                    <p class="font-dm text-sm">É uma extensão do cuidado que temos com cada detalhe no Villaggio, oferecendo produtos selecionados com carinho, muitos deles produzidos localmente, para que você leve um pedaço da nossa essência para casa.</p>
                </div>
            </div>
        </div>
        <div class="px-8 flex flex-col gap-6">
            <div class="relative h-96"
                style="background-image: url('<%= asset_path('3.png') %>'); background-size: cover; background-position: center;">
            </div>
            <div>
                <div class="flex flex-col gap-4 mb-12 text-gray-500">
                    <p class="font-alice text-lg">Vinhos Selecionados</p>
                    <p class="font-dm text-sm">Os vinhos do Villaggio são escolhidos a dedo, trazendo rótulos que harmonizam perfeitamente com momentos únicos de conexão e celebração da nossa terra.</p>
                </div>
            </div>
        </div>



        <%= render 'shared/funilform' %>
            <%= render 'shared/footer' %>
                <%= render 'shared/wppButton' %>
</div>
