
<div>
    <%= render 'shared/header' %>
    <%= render 'shared/experiencias' %>
    <%= render 'shared/divComunidades' %>
    <%= render 'shared/funilform' %>
    <%= render 'shared/reservar' %>
    <%= render 'shared/feedbacks' %>
    <%= render 'shared/footer' %>
    <%= render 'shared/wppButton' %>
    <!-- <%= button_to "logout", destroy_user_session_path, method: :delete  %> -->
</div>
