
<div>
    <%= render 'shared/header' %>
    <%= render 'shared/feedbacks' %>
    <%= render 'shared/footer' %>
    <%= render 'shared/wppButton' %>
    <%= render 'shared/funilform' %>
    <%= button_to "logout", destroy_user_session_path, method: :delete  %>
</div>
