<%= form_with url: cabanas_path, method: :get, local: true do %>
  <%= select_tag :filial_id, options_from_collection_for_select(Filial.all, :id, :name, params[:filial_id]) %>
  <%= submit_tag 'Filter' %>
<% end %>

<% @cabanas.each do |cabana| %>
  <h2><%= link_to cabana.name, cabana_path(cabana) %></h2>
  <p>Price per night: <%= number_to_currency(cabana.price) %></p>
<% end %>
