<%= form_with url: cabanas_path, method: :get, local: true do %>
  <%= select_tag :filial_id, options_from_collection_for_select(Filial.all, :id, :name, params[:filial_id]) %>
  <%= submit_tag 'Filter' %>
<% end %>

<% if @cabanas.any? %>
  <h2>Search Results:</h2>
  <% @cabanas.each do |cabana| %>
    <div>
      <h3><%= cabana.name %></h3>
      <p><%= cabana.description %></p>
      <%= link_to 'View Cabana', cabana_path(cabana) %>
    </div>
  <% end %>
<% else %>
  <p>No cabanas found for the selected filial.</p>
<% end %>