<h1><%= @cabana.name %></h1>
<p>Price per night: <%= number_to_currency(@cabana.price) %></p>

<% @infos_da_cabana.each do |info| %>
  <p><strong>info type: </strong> <%= info.info_type %></p>
  <p><strong>Title: </strong> <%= info.title %></p>
  <p><strong>Content:</strong> <%= info.content %></p>
<% end %>

<% @cabana.images.each do |image| %>
  <img src="<%=image.url%>" alt="" class="">
<% end %>

<button><%= link_to 'Book this Cabana', new_cabana_reserva_path(@cabana) %></button>
