<h1>Estoque: <%= @filial.name %></h1>

<%= link_to 'Cadastrar novo Item', new_filial_item_path(@filial) %>

<div class="row">
  <% @items.each do |item| %>
    <div class="col-12">

        <div class="card-product my-3">
          <% if item.image.attached? %>
            <%= link_to edit_filial_item_path(@filial, item), class: 'card-product-link' do %>
              <%= image_tag item.image%>
            <% end %>
          <% else %>
            <%= link_to edit_filial_item_path(@filial, item), class: 'card-product-link' do %>
              <img src="https://via.placeholder.com/120"/>
            <% end %>
          <% end %>
          <div class="card-product-infos">
            <h2><strong><%= item.name %></strong></h2>
            <h2 style="color: red;"><strong>Quantidade:</strong> <%= item.quantity %></h2>
            <p><strong>Categoria:</strong> <%= item.category %></p>
          </div>
          <div class="card-product-infos d-flex">
            <%= link_to '+', increment_filial_item_path(@filial, item), data: { turbo_method: :patch }, class: 'increment-button btn btn-success' %>
            <%= link_to '-', decrement_filial_item_path(@filial, item), data: { turbo_method: :patch }, class: 'decrement-button btn btn-danger'%>
          </div>
        </div>

    </div>
  <% end %>
</div>
