<p><%= link_to 'Voltar ao estoque', filial_items_path(@filial), class: 'btn btn-secondary mb-3' %></p>

<%= simple_form_for([@filial, @item], html: { class: 'form-horizontal' }) do |form| %>
  <% if @item.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(@item.errors.count, "erro") %> impediram este item de ser salvo:</h2>
      <ul>
        <% @item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <%= form.label :name, 'Nome', class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= form.input_field :name, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :quantity, 'Quantidade', class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= form.input_field :quantity, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :category, 'Categoria', class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= form.select :category, options_for_select(Item::CATEGORIES, @item.category), {}, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :image, 'Imagem', class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= form.file_field :image, class: 'form-control-file' %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-10 offset-sm-2">
      <%= form.submit 'Salvar', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
