<!-- app/views/items/show.html.erb -->
<h1><%= @item.name %></h1>
<p>Description: <%= @item.description %></p>
<p>Price: <%= number_to_currency(@item.price) %></p>

<%= form_with url: add_item_path, method: :post, local: true do %>
  <%= hidden_field_tag :item_id, @item.id %>  <!-- Or :item_id depending on the context -->
  <div>
    <label>Quantity:</label>
    <%= number_field_tag :quantity, 1, min: 1 %>
  </div>
  <%= submit_tag "Add to Cart", class: "btn btn-primary" %>
<% end %>


<%= link_to 'Back to Items', items_marketplace_index_path %>
