<h1><%= @cabana.name %></h1>
<%= link_to 'View all Infos da Cabana', admin_cabana_info_da_cabanas_path(@cabana), class: 'btn btn-primary' %> |

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@cabana.price) %>
</p>

<p>
  <strong>Filial:</strong>
  <%= @cabana.filial.name %>
</p>

<%= link_to 'Edit This Cabana', edit_admin_cabana_path(@cabana), class: 'btn btn-primary' %> |
<%= link_to 'Back', admin_cabanas_path %>
